<div class="header-container">
    <div class="card mb-3 centered-card">
        <div class="row no-gutters">
            <!-- Image Section -->
            <div class="col-md-4">
                <img src="assets/images/rust-mascot.png" class="card-img" alt="Header Image">
            </div>
            <!-- Text Section -->
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Maurits Seelen</h5>
                    <p class="card-text mb-1">Passionate about Software Engineering, Researching and Learning.</p>
                    <p class="card-text mt-0" style="font-size: 12px;">Den Bosch, The Netherlands</p>
                    <a href="#">Github</a> | <a href="#">LinkedIn</a>
                </div>
            </div>
        </div>
    </div>
</div>