.header-container {
    padding-top: 2%;
    box-sizing: border-box;
}

.centered-card {
    width: 65%;
    margin: 0 auto;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.085);
}

.card-img {
    width: 80%;
    height: auto;
    border-top-left-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}