<div class="d-flex align-items-center centered-card">
    <div class="p-2">
        <img src="assets/images/lumi-logo-final.png" alt="Header Image" class="img-fluid" style="max-width: 150px;">
    </div>
    <div class="p-2">
        <h5 class="mb-1">Maurits Seelen</h5>
        <div class="card-text">
            <p class="mb-1">Passionate about Software Engineering, Researching and Learning.</p>
            <p class="mb-1" style="font-size: 12px;">Werkendam, Noord-Brabant, The Netherlands</p>
            <div class="links">
                <a href="https://github.com/Mauw94">Github</a> | <a
                    href="https://www.linkedin.com/in/maurits-seelen-245b39113/">LinkedIn</a>
            </div>
        </div>
    </div>
</div>