.footer {
    background-color: #f8f9fa;
    padding: 1rem 0;
    border-top: 1px solid #e9ecef;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer-text {
    margin: 0 auto;
    color: #6c757d;
    font-size: 13px;
}

a {
    color: #2a91ff !important;
    text-decoration: none !important;
}

a:hover {
    color: #1c7adf !important;
    text-decoration: underline !important;
}