<div class="container">
    <textarea placeholder="Type some lumi code here.." [(ngModel)]="userInput" class="textarea mb-0"></textarea>
    <p class="info-text mt-0 pt-0">Press CTRL+ENTER to run code</p>

    <div class="result-box" [innerHTML]="parsedText">
    </div>

    <hr style="margin-top: 10%; margin-bottom: 10%;">

    <button class="btn btn-outline-primary" (click)="toggleReadme()">Toggle ReadMe</button>
    <markdown *ngIf="showReadme" style="font-family: monospace;" lineNumbers [start]="1" [src]="'../../assets/pkg/README.md'">
    </markdown>
</div>