/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    font-family: monospace;
}

.navbar-nav .nav-link {
    font-weight: normal;
    color: #000;
}

.navbar-nav .nav-link.active {
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
}