<div class="content">


  <div>
    <h2>About Me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
      sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>

  <div class="top-space">
    <h2>Projects</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h3>Lumi</h3>
        <p>
          An interpreter for a self created programming language written in <span class="description">Rust</span>.
          Lumi can also be tried online by navigating to the "Try lumi" page.
          <a href="">Github</a>
        </p>
      </li>
      <li class="list-group-item">
        <h3>QLearn</h3>
        <p>
          A CQRS, Event Sourcing app to learn different topics. A topic is chosen, questions are given and answers are
          checked. Written in <span class="description">TypeScript</span>.
          <a href="">Github</a>
        </p>
      </li>
      <li class="list-group-item">
        <h3>Magic of Roz</h3>
        <p>
          A little ARPG game with endless waves of enemies. Written in <span class="description">Python</span>.
          <a href="">Github</a>
        </p>
      </li>
      <li class="list-group-item">
        <h3>Chatterz</h3>
        <p>
          - An app where you can create and join chatrooms and then play be able to play minigames. Backend written in
          <span class="description">C#/.NET</span>. Frontend written in <span class="description">TypeScript</span>.
          <a href="">Github</a>
        </p>
      </li>
    </ul>
  </div>

</div>