.content {
    max-width: 800px;
    margin: 2% auto;
    padding: 20px;
}

.top-space {
    margin-top: 70px;
}

a {
    color: #2a91ff !important;
    text-decoration: none !important;
}

a:hover {
    color: #1c7adf !important;
    text-decoration: underline !important;
}

.description {
    font-size: 17px;
    font-style: italic;
    color: #6c757d;
}