<div class="content">


  <div>
    <h2>About Me</h2>
    <p>A passionate and driven software engineer, committed to continuous improvement. Energetic about adopting new
      technologies that enable innovation and expand possibilities, always striving to stay current with advancements.
      Strongly motivated by a desire for ongoing learning and growth.</p>
  </div>

  <div class="top-space">
    <h2>Projects</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h4>Lumi</h4>
        <p>
          An interpreter for a self created programming language called Lumi, written in <span
            class="description">Rust</span>.
          Lumi can also be tried online by navigating to the "Try lumi" page.
          <a href="">Github</a>
        </p>
      </li>
      <li class="list-group-item">
        <h4>QLearn</h4>
        <p>
          A CQRS, Event Sourcing app to study different topics. A topic is chosen, questions are given and answers are
          checked. Written in <span class="description">TypeScript</span>.
          <a href="">Github</a>
        </p>
      </li>
      <li class="list-group-item">
        <h4>Magic of Roz</h4>
        <p>
          A little ARPG game with endless waves of enemies. Pick up items, shoot enemies, collect gold, use items.
          Written in <span class="description">Python</span>.
          <a href="">Github</a>
        </p>
      </li>
      <li class="list-group-item">
        <h4>Chatterz</h4>
        <p>
          An app where you can create and join chatrooms and then be able to play minigames with other people in the
          same room. You can chat and invite them to play. Backend written in
          <span class="description">C#/.NET</span>. Frontend written in <span class="description">TypeScript</span>.
          <a href="">Github</a>
        </p>
      </li>
    </ul>
  </div>

</div>